<media-gallery>
  <div class="swiper">
    <div class="swiper-wrapper">
      {% assign media_index = 0 %}
      {% if selected_variant.featured_image != null %}
        <div
          class="swiper-slide"
          data-media-id="{{ selected_variant.featured_media.id }}"
          data-media-index="{{ media_index }}"
        >
          {% render 'component-product-media', media: selected_variant.featured_media, loop: video_looping %}
        </div>
        {% assign media_index = media_index | plus: 1 %}
      {% endif %}
      {% for media in product_media %}
        {% unless selected_variant.featured_media.id == media.id %}
          <div
            class="swiper-slide"
            data-media-id="{{ media.id }}"
            data-media-index="{{ media_index }}"
          >
            {% render 'component-product-media', media: media, loop: video_looping %}
          </div>
          {% assign media_index = media_index | plus: 1 %}
        {% endunless %}
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</media-gallery>
