<style>
  #menu-drawer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: min(500px, 100%);
    height: calc(100vh - var(--header-height));
    transform: translateX(-100%);
    z-index: 9999;
    transition: 300ms ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(20px);
    background: #000000bd;
  }
  #header-drawer #menu-drawer.drawer-open {
    transform: translateX(0);
  }
  #main-header .header-drawer_icons svg {
    width: 20px;
  }
  #header-drawer .header-drawer_icons.drawer-open svg.icon-menu,
  #header-drawer .header-drawer_icons:not(.drawer-open) svg.icon-close {
    display: none;
  }
  #menu-drawer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #menu-drawer li {
    width: 100%;
    overflow: hidden;
  }
  #menu-drawer a,
  #menu-drawer .menu-toggle {
    display: flex;
    gap: 10px;
    font-size: 15px;
    line-height: 1.5;
    padding: 12px 18px;
    border-bottom: 1px solid rgb(var(--color-foreground), 0.2);
    text-decoration: none;
    width: 100%;
  }
  .menu-drawer_action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-top: 1px solid rgb(var(--color-foreground), 0.2);
    padding: 15px 20px;
  }
  .menu-drawer_action a {
    border: 0 !important;
    justify-content: flex-end;
  }
  .menu-drawer_localization {
    display: flex;
  }
  .menu-drawer_localization .localization-wrapper {
    position: relative;
    padding: 12px 6px;
    border: 1px solid rgb(var(--color-foreground), 0.2);
    margin-right: 10px;
  }
  .menu-drawer_localization .localization-list {
    top: unset;
    left: -1px;
    bottom: 100%;
    width: 100%;
    box-shadow: none;
    border: 1px solid rgb(var(--color-foreground), 0.2);
  }
</style>
<div
  id="header-drawer"
  x-data="{ drawerOpen: false }"
  @click.outside="drawerOpen = false"
>
  <button
    class="header-drawer_icons"
    @click="drawerOpen = !drawerOpen"
    :class="{ 'drawer-open': drawerOpen }"
  >
    {{- 'icon-menu.svg' | inline_asset_content -}}
  </button>
  <div
    id="menu-drawer"
    class="color-{{ section.settings.menu_color_scheme }} gradient text-white"
    :class="{ 'drawer-open': drawerOpen }"
  >
    {% render 'component-nav-dropdown', nav_style: 'drawer' %}

    <div class="menu-drawer_action">
      {% if section.settings.enable_country_selector or section.settings.enable_language_selector %}
        <div class="menu-drawer_localization">
          {%- render 'component-localization-form',
            enable_country_selector: section.settings.enable_country_selector,
            enable_language_selector: section.settings.enable_language_selector
          -%}
        </div>
      {% endif %}
    </div>
  </div>
</div>
